<!doctype html>
<html>
    <head>
        {% include "Header.html.twig" %}
    </head>

    <body>
        {% include "Navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %}

        <div class="container">

            <br>
            <div class="card">
            <div class="card-header">
                Článek číslo {{ article.getID }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>{{ article.getArticleTitle }}</p>
                <footer class="blockquote-footer">{{ article.getArticle }}</footer>
                </blockquote>
                <br>
                <cite title="Source Title">Autor: {{ article.getAutorID }}</cite>
            </div>
            </div>

        </div>

       
        {% include "Footer.html.twig" %}
    </body>
</html>