<!doctype html>
<html>
    <head>
        {% include "Header.html.twig" %}
    </head>

    <body>
        {% include "Navbar.html.twig" %}
        {% include "Login.html.twig" %}
        {% include "Signup.html.twig" %}


        <div class="container">

            <br>
            <div class="card text-center">
            <div class="card-header">
                Autor: Benedikt Buršík
            </div>
            <div class="card-body">
                <h5 class="card-title">Článek 1</h5>
                <p class="card-text">Krátký úvod.</p>
                <a href="article/1" class="btn btn-dark">Přečíst</a>
            </div>
            <div class="card-footer text-muted">
                Publikováno: 25.10.2019
            </div>
            </div>

            <br>

            <div class="card text-center">
            <div class="card-header">
                Autor: Benedikt Buršík
            </div>
            <div class="card-body">
                <h5 class="card-title">Článek 2</h5>
                <p class="card-text">Krátký úvod.</p>
                <a href="/rsp/article/2" class="btn btn-dark">Přečíst</a>
            </div>
            <div class="card-footer text-muted">
                Publikováno: 25.10.2019
            </div>
            </div>

            <br>

            <div class="card text-center">
            <div class="card-header">
                Autor: Benedikt Buršík
            </div>
            <div class="card-body">
                <h5 class="card-title">Článek 3</h5>
                <p class="card-text">Krátký úvod.</p>
                <a href="/rsp/article/3" class="btn btn-dark">Přečíst</a>
            </div>
            <div class="card-footer text-muted">
                Publikováno: 25.10.2019
            </div>
            </div>

            <br>

            <div class="card text-center">
            <div class="card-header">
                Autor: Benedikt Buršík
            </div>
            <div class="card-body">
                <h5 class="card-title">Článek 4</h5>
                <p class="card-text">Krátký úvod.</p>
                <a href="/rsp/article/4" class="btn btn-dark">Přečíst</a>
            </div>
            <div class="card-footer text-muted">
                Publikováno: 25.10.2019
            </div>
            </div>

            <br>

            <div class="card text-center">
            <div class="card-header">
                Autor: Benedikt Buršík
            </div>
            <div class="card-body">
                <h5 class="card-title">Článek 5</h5>
                <p class="card-text">Krátký úvod.</p>
                <a href="/rsp/article/5" class="btn btn-dark">Přečíst</a>
            </div>
            <div class="card-footer text-muted">
                Publikováno: 25.10.2019
            </div>
            </div>
            <br>

        
        </div>


        {% include "Footer.html.twig" %}
    </body>
</html>

